html, body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

//form.todo-form{
.home-page {
  max-width: 600px;
  margin: 0 auto;
}

.custom-control-input.success:focus ~ .custom-control-label::before {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input.success:checked ~ .custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input.success:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input.success:not(:disabled):active ~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

.delete-cont {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: darkred;
  }
}
